@import url(../front/css/detalheservico_style.css);
@import url(../front/css/cadastroservico_style.css);
@import url(../front/css/home_style.css);
@import url(../front/css/lista_style.css);
@import url(../front/css/servicocadastrado_style.css);
@import url(../front/css/sobre_style.css);

body{
	background-color: #fffafa;
    margin: auto;
	font-size: large;
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.quadro_cima{
	display: flex;
	justify-content: flex-end;
	height: 30px;
	background-color: #babaca;
}

a.quadro_cima{
	display: flex;
	align-items: center;
	margin-right: 30px;
}

/*BARRA DE PESQUISA*/

.quadro_pesquisa{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: yellow;
}

ul.produtos{
	display: flex;
}

li.produtos{
	display: flex;
	margin: 2px;
}

button.produtos{
	width: 150px;
	height: 25px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: thin;
	border-style: solid;
	border-color: #babaca;
}

button.produtos:hover{
	background-color: white;
}

.pesquisar{
	display: flex;
	height: 30px;
	width: 1000px;
	text-align: center;
	border-radius: 10px;
	border: thin;
	border-style: solid;
	border-color: #babaca;
}

ul.servicos_usuarios{
	display: flex;
	align-items: center;
}

li.servicos_usuarios{
	display: flex;
	height: 30px;
	width: 100px;
	align-items: center;
	justify-content: center;
	background-color: #babaca;
}

/*CONTEUDO PRINCIPAL*/

main{
	display: flex;
	margin: auto;
	width: 1300px;
	justify-content: space-around;
}

/*RODAPE*/

footer{
	display: flex;
	background-color: #babaca;
	height: 35px;
	justify-content: center;
	width: auto;
	margin: auto;
	bottom: 0;
	position: fixed;
	width: 100%;
}

.rodape{
	display: flex;
	align-content: center;
}

p.rodape{
	display: flex;
	margin: auto;
	width: auto;
}



