@import url(/front/css/detalheservico_style.css);
@import url(/front/css/cadastroservico_style.css);
@import url(/front/css/home_style.css);
@import url(/front/css/lista_style.css);
@import url(/front/css/servicocadastrado_style.css);
@import url(/front/css/sobre_style.css);

@import url(/slider/slider_style.css);

@import url(/front/css/login_style.css);

body{
	background-color: #f5f5f5;
    margin: auto;
	font-size: large;
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

header{
	display: grid;
	grid-template-columns: 1fr 1300px 1fr;
	grid-template-rows: 30px 80px;
}

.quadro_topheader{
	display: grid;
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 4;
	padding-right: 20px;
	background-color: #fff0f5;
	align-items: center;
	justify-content: flex-end;
	color: #1e111d;
}

a{	
	text-decoration: none;
	color: #1e111d;
}

a:hover{
	opacity: 0.8;
	text-shadow: 1px white;
}

/*BARRA DE PESQUISA*/

.quadro_pesquisa{
	display: flex;
	display: grid;
	grid-row-start: 2;
	grid-column-start: 2;
	justify-content: center;
}

.pesquisa{
	display: flex;
	width: 1300px;
	background-color: #8a2be2;
	justify-content: space-evenly;
	align-items: center;
}

input.pesquisa{
	width: 1000px;
	height: 30px;
	padding: auto;
	background-color: white;
	text-align: center;
	border: thin;
	border-style: solid;
	border-radius: 10px;
}

.logo{
	display: grid;
	justify-content: center;
	align-content: center;
	background-color:#5c2391;
}

a.logo{
	color: white;
	font-size: x-large;
}

.login{
	display: grid;
	justify-content: center;
	align-content: center;
	background-color: #5c2391;
}

.modal{
	display: none;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.conteudo_modal{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 500px;
	height: 450px;
    background-color: #fffafa;
	color: #1e111d;
	margin: auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
}

/*CONTEUDO PRINCIPAL*/

main{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 1300px;
	height: 843px;
	position: static;
	background-color: #fffafa;
	color: #1e111d;
}

button, a{
	margin: auto;
	cursor: pointer;
}

/*RODAPE*/

footer{
	display: flex;
	background-color: #babaca;
	height: 35px;
	justify-content: center;
	width: auto;
	margin: auto;
	bottom: 0;
	position: fixed;
	width: 100%;
}

.rodape{
	display: flex;
	align-content: center;
}

p.rodape{
	display: flex;
	margin: auto;
	width: auto;
}



