@import url(../front/css/detalheservico_style.css);
@import url(../front/css/cadastroservico_style.css);
@import url(../front/css/home_style.css);
@import url(../front/css/lista_style.css);
@import url(../front/css/servicocadastrado_style.css);
@import url(../front/css/sobre_style.css);

body{
	background-color: #fffafa;
    margin: auto;
	font-size: large;
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.quadro_cima{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	height: 30px;
	background-color: #babaca;
}

a.quadro_cima{
	display: flex;
	align-items: center;
	margin-right: 30px;
	margin-left: 30px;
}

/*BARRA DE PESQUISA*/

.quadro_pesquisa{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: yellow;
}

ul.produtos, li.produtos{
	display: flex;
	width: 150px;
}

.pesquisar{
	display: flex;
	height: 30px;
	width: 1000px;
	text-align: center;
	border-radius: 10px;
	border: thin;
	border-style: solid;
	border-color: #babaca;
}

ul.login, li.login{
	display: flex;
	width: 150px;
}

/*CONTEUDO PRINCIPAL*/

main{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 1300px;
	height: 843px;
	position: static;
	background-color: white;
}

/*RODAPE*/

footer{
	display: flex;
	background-color: #babaca;
	height: 35px;
	justify-content: center;
	width: auto;
	margin: auto;
	bottom: 0;
	position: fixed;
	width: 100%;
}

.rodape{
	display: flex;
	align-content: center;
}

p.rodape{
	display: flex;
	margin: auto;
	width: auto;
}



