/*quadro perfil inteiro*/

.info_usercomum{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 1300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

.meu_perfil{
    display: flex;
    width: 1300px;
    height: 843px;
}

/*quadro opções perfis*/

.perfis{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 770px;
}

/*opções cliente*/

.user_cliente{
    display: flex;
    flex-direction : column;
    align-items: center;
    border: thin;
    border-style: solid;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
}

.user{
    display: flex;
    flex-direction : column;
    align-items: center;
    border: thin;
    border-style: solid;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
}

p.user{
    cursor: pointer;
    border: none;
    margin: 10px;
}

.useropcoes_cliente{
    display: flex;
    flex-direction: column;
    border: thin;
    border-top-style: solid;
    width: 290px;
}

p.useropcoes{
    cursor: pointer;
    border: none;
    text-align: start;
    margin: 10px;
}

.sair{
    display: flex;
    position: fixed;
    bottom: 150px;
    width: 290px;
    justify-content: center;
    cursor: pointer;
}

/*aparecer o conteudo do perfil*/

.conteudo_perfis{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 810px;
    padding-top: 10px;
}

/*trocar senha*/

.trocar_senha{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 900px;
    height: 250px;
}

.inserir_senha{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 700px;    
}

input{
    display: flex;
    border-radius: 10px;
    height: 25px;
    width: 250px;
    text-align: center;
}

/*conteudo do perfil cliente*/

.usercliente_conteudo{
    display: flex;
    flex-direction: column;
    width: 900px;
}

.os_cliente{
    display: none;
    flex-direction: column;
    align-items: center;
}

p.vermais{
    cursor: pointer;
    border: none;
    margin: 20px;
    height: 40px;
    width: 900px;
    text-align: center;
    border: thin;
    border-bottom-style: solid;
}

.quadros{
    display: flex;
    flex-direction: column;
    width: 450px;
}

.quadros_oscliente{
    display: flex;
    width: 900px;
}

.orcamentos_cliente{
    display: none;
    flex-direction: column;
    align-items: center;
}

.quadro_orcamentoscliente{
    display: flex;
    width: 900px;
}

.contato_cliente{
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

.endereco{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 350px;
}

.telefone{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 350px;
}

/*modal alterar endereco e telefone*/

.quadro_telefone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
    margin-top: 50px;
}

.quadro_endereco{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1000px;
    height: 300px;
    margin-top: 50px;
}

.alterar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--header);
    border-radius: 0px 0px 10px 10px;
}

@media (max-width: 1300px) {
    /*quadro perfil inteiro*/
    .meu_perfil{
        width: 1100px;
        height: 810px;
    }

    .info_usercomum{
        display: flex;
        justify-content: center;
        width: 1000px;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    /*quadro opções perfis*/
    .perfis{
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 810px;
    }

    /*opções cliente*/

    .user_cliente{
        display: flex;
        flex-direction : column;
        align-items: center;
        border: thin;
        border-style: solid;
        margin: 5px;
        border-radius: 5px 5px 5px 5px;
    }

    .user{
        display: flex;
        flex-direction : column;
        align-items: center;
        border: thin;
        border-style: solid;
        margin: 5px;
        border-radius: 5px 5px 5px 5px;
    }

    p.user{
        cursor: pointer;
        border: none;
        margin: 10px;
    }

    .useropcoes_cliente{
        display: flex;
        flex-direction: column;
        border: thin;
        border-top-style: solid;
        width: 240px;
    }

    p.useropcoes{
        cursor: pointer;
        border: none;
        text-align: start;
        margin: 10px;
    }

    .sair{
        display: flex;
        position: fixed;
        bottom: 150px;
        width: 240px;
        justify-content: center;
        cursor: pointer;
    }

    /*aparecer o conteudo do perfil*/

    .conteudo_perfis{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 800px;
        height: 843px;
        padding-top: 20px;
    }

    .usercliente_conteudo{
        display: flex;
        flex-direction: column;
        width: 700px;
    }

    .os_cliente{
        display: none;
        flex-direction: column;
        align-items: center;
    }
    
    p.vermais{
        cursor: pointer;
        border: none;
        margin: 20px;
        height: 40px;
        width: 900px;
        text-align: center;
        border: thin;
        border-bottom-style: solid;
    }
    
    .quadros{
        display: flex;
        flex-direction: column;
        width: 400px;
    }
    
    .quadros_oscliente{
        display: flex;
        width: 750px;
    }
    
    .orcamentos_cliente{
        display: none;
        flex-direction: column;
        align-items: center;
    }
    
    .quadro_orcamentoscliente{
        display: flex;
        width: 750px;
    }
    
    .contato_cliente{
        display: none;
        justify-content: space-between;
        width: 750px;
    }
    
    .endereco{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 500px;
        height: 250px;
    }
    
    .telefone{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 1100px) {
    /*quadro perfil inteiro*/
    .meu_perfil{
        width: 900px;
        height: 810px;
    }

    .info_usercomum{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 900px;
        margin-top: 100px;
        margin-bottom: 10px;
    }

    /*quadro opções perfis*/
    .perfis{
        display: flex;
        flex-direction: column;
        width: 220px;
        height: 810px;
    }

    /*opções cliente*/

    .user_cliente{
        display: flex;
        flex-direction : column;
        align-items: center;
        border: thin;
        border-style: solid;
        margin: 5px;
        border-radius: 5px 5px 5px 5px;
    }

    .user{
        display: flex;
        flex-direction : column;
        align-items: center;
        border: thin;
        border-style: solid;
        margin: 5px;
        border-radius: 5px 5px 5px 5px;
    }

    p.user{
        cursor: pointer;
        border: none;
        margin: 10px;
    }

    .useropcoes_cliente{
        display: flex;
        flex-direction: column;
        border: thin;
        border-top-style: solid;
        width: 210px;
    }

    p.useropcoes{
        cursor: pointer;
        border: none;
        text-align: start;
        margin: 10px;
    }

    .sair{
        display: flex;
        position: fixed;
        bottom: 150px;
        width: 210px;
        justify-content: center;
        cursor: pointer;
    }

    /*aparecer o conteudo do perfil*/

    .conteudo_perfis{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
        height: 843px;
        padding-top: 20px;
    }

    .usercliente_conteudo{
        display: flex;
        flex-direction: column;
        width: 700px;
    }

    .os_cliente{
        display: none;
        flex-direction: column;
        align-items: center;
    }
    
    p.vermais{
        cursor: pointer;
        border: none;
        margin: 20px;
        height: 40px;
        width: 900px;
        text-align: center;
        border: thin;
        border-bottom-style: solid;
    }
    
    .quadros{
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    
    .quadros_oscliente{
        display: flex;
        width: 700px;
    }
    
    .orcamentos_cliente{
        display: none;
        flex-direction: column;
        align-items: center;
    }
    
    .quadro_orcamentoscliente{
        display: flex;
        width: 700px;
    }
    
    .contato_cliente{
        display: none;
        justify-content: space-between;
        width: 700px;
    }
    
    .endereco{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 400px;
        height: 250px;
    }
    
    .telefone{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 200px;
        height: 250px;
    }

    .trocar_senha{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        width: 700px;
        height: 250px;
    }
    
    .inserir_senha{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 500px;    
    }
    
    input{
        display: flex;
        border-radius: 10px;
        height: 25px;
        width: 200px;
        text-align: center;
    }
}

@media (max-width: 900px) {
    /*quadro perfil inteiro*/
    .meu_perfil{
        width: 700px;
        height: 810px;
    }

    .info_usercomum{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
        margin-top: 100px;
        margin-bottom: 10px;
    }

    /*quadro opções perfis*/
    .perfis{
        display: flex;
        flex-direction: column;
        width: 220px;
        height: 810px;
    }

    /*opções cliente*/

    .user_cliente{
        display: flex;
        flex-direction : column;
        align-items: center;
        border: thin;
        border-style: solid;
        margin: 5px;
        border-radius: 5px 5px 5px 5px;
    }

    .user{
        display: flex;
        flex-direction : column;
        align-items: center;
        border: thin;
        border-style: solid;
        margin: 5px;
        border-radius: 5px 5px 5px 5px;
    }

    p.user{
        cursor: pointer;
        border: none;
        margin: 10px;
    }

    .useropcoes_cliente{
        display: flex;
        flex-direction: column;
        border: thin;
        border-top-style: solid;
        width: 210px;
    }

    p.useropcoes{
        cursor: pointer;
        border: none;
        text-align: start;
        margin: 10px;
    }

    .sair{
        display: flex;
        position: fixed;
        bottom: 150px;
        width: 210px;
        justify-content: center;
        cursor: pointer;
    }

    /*aparecer o conteudo do perfil*/

    .conteudo_perfis{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        height: 843px;
        padding-top: 20px;
    }

    .usercliente_conteudo{
        display: flex;
        flex-direction: column;
        width: 500px;
    }

    .os_cliente{
        display: none;
        flex-direction: column;
        align-items: center;
    }
    
    p.vermais{
        cursor: pointer;
        border: none;
        margin: 20px;
        height: 40px;
        width: 900px;
        text-align: center;
        border: thin;
        border-bottom-style: solid;
    }
    
    .quadros{
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    
    .quadros_oscliente{
        display: flex;
        width: 500px;
    }
    
    .orcamentos_cliente{
        display: none;
        flex-direction: column;
        align-items: center;
    }
    
    .quadro_orcamentoscliente{
        display: flex;
        width: 500px;
    }
    
    .contato_cliente{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 500px;
    }
    
    .endereco{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 400px;
        height: 250px;
    }
    
    .telefone{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 400px;
        height: 250px;
    }

    .trocar_senha{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        width: 500px;
        height: 250px;
    }
    
    .inserir_senha{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 400px;    
    }
    
    input{
        display: flex;
        border-radius: 10px;
        height: 25px;
        width: 180px;
        text-align: center;
    }
}

@media (max-width: 700px) {
    /*quadro perfil inteiro*/
    .meu_perfil{
        width: 650px;
        height: 810px;
    }

    .info_usercomum{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        margin-top: 100px;
        margin-bottom: 10px;
    }

    /*quadro opções perfis*/
    .perfis{
        display: flex;
        flex-direction: column;
        width: 220px;
        height: 810px;
    }

    /*opções cliente*/

    .user_cliente{
        display: flex;
        flex-direction : column;
        align-items: center;
        border: thin;
        border-style: solid;
        margin: 5px;
        border-radius: 5px 5px 5px 5px;
    }

    .user{
        display: flex;
        flex-direction : column;
        align-items: center;
        border: thin;
        border-style: solid;
        margin: 5px;
        border-radius: 5px 5px 5px 5px;
    }

    p.user{
        cursor: pointer;
        border: none;
        margin: 10px;
    }

    .useropcoes_cliente{
        display: flex;
        flex-direction: column;
        border: thin;
        border-top-style: solid;
        width: 210px;
    }

    p.useropcoes{
        cursor: pointer;
        border: none;
        text-align: start;
        margin: 10px;
    }

    .sair{
        display: flex;
        position: fixed;
        bottom: 150px;
        width: 210px;
        justify-content: center;
        cursor: pointer;
    }

    /*aparecer o conteudo do perfil*/

    .conteudo_perfis{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 843px;
        padding-top: 20px;
    }

    .usercliente_conteudo{
        display: flex;
        flex-direction: column;
        width: 400px;
    }

    .os_cliente{
        display: none;
        flex-direction: column;
        align-items: center;
    }
    
    .quadros{
        display: flex;
        flex-direction: column;
        width: 200px;
    }
    
    .quadros_oscliente{
        display: flex;
        width: 400px;
    }
    
    .orcamentos_cliente{
        display: none;
        flex-direction: column;
        align-items: center;
    }
    
    .quadro_orcamentoscliente{
        display: flex;
        width: 400px;
    }
    
    .contato_cliente{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 400px;
    }
    
    .endereco{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 400px;
        height: 250px;
    }
    
    .telefone{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 400px;
        height: 250px;
    }

    .trocar_senha{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        width: 400px;
        height: 250px;
    }
    
    .inserir_senha{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 400px;    
    }
    
    input{
        display: flex;
        border-radius: 10px;
        height: 25px;
        width: 180px;
        text-align: center;
    }
}

@media (max-width: 500px) {
    /*quadro perfil inteiro*/

    .info_usercomum{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        margin-top: 200px;
        margin-bottom: 10px;
    }
}


