.meu_perfil{
    display: flex;
    width: 1300px;
    height: 843px;
}

.perfis{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 810px;
    padding-top: 20px;
    border: thin;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

.user{
    display: flex;
    flex-direction : column;
    align-items: center;
    border: thin;
    border-style: solid;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
}

p.user{
    cursor: pointer;
    border: none;
    margin: 10px;
}

.user_cliente{
    display: flex;
    flex-direction : column;
    align-items: center;
    border: thin;
    border-style: solid;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
}

p.useropcoes{
    cursor: pointer;
    border: none;
    text-align: start;
    margin: 10px;
}

.useropcoes_cliente{
    display: flex;
    flex-direction: column;
    border: thin;
    border-top-style: solid;
    width: 290px;
}

.sair{
    display: flex;
    position: fixed;
    bottom: 150px;
    width: 290px;
    justify-content: center;
    cursor: pointer;
}

.conteudo_perfis{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 843px;
    padding-top: 20px;
}


/*trocar senha*/

.trocar_senha{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 30px;
    width: 900px;
    height: 250px;
}

.inserir_senha{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 700px;    
}

input{
    display: flex;
    border-radius: 10px;
    height: 25px;
    width: 250px;
    text-align: center;
}

/*conteudo do perfil cliente*/

.usercliente_conteudo{
    display: flex;
    flex-direction: column;
    width: 900px;
}

.os_cliente{
    display: none;
    flex-direction: column;
    align-items: center;
}

p.vermais{
    cursor: pointer;
    border: none;
    margin: 20px;
    height: 40px;
    width: 900px;
    text-align: center;
    border: thin;
    border-bottom-style: solid;
}

.quadros{
    display: flex;
    flex-direction: column;
    width: 450px;
}

.quadros_oscliente{
    display: flex;
    width: 900px;
    margin-top: 20px;
}

.orcamentos_cliente{
    display: none;
    flex-direction: column;
    align-items: center;
}

.quadro_orcamentoscliente{
    display: flex;
    width: 900px;
    margin-top: 20px;
}

.contato_cliente{
    display: none;
    justify-content: space-between;
    width: 900px;
}

.endereco{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 250px;
    
}

.telefone{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 250px;
}

/*modal alterar endereco e telefone*/

.quadro_telefone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
    margin-top: 50px;
}

.quadro_endereco{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1000px;
    height: 300px;
    margin-top: 50px;
}

.alterar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--header);
    border-radius: 0px 0px 10px 10px;
}

@media (max-width: 1300px) {
    .meu_perfil{
        display: flex;
        width: 1100px;
        height: 810px;
    }
    
    .perfis{
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 810px;
        padding-top: 20px;
        border: thin;
        border-bottom-style: solid;
        border-left-style: solid;
        border-right-style: solid;
    }
    
    .user{
        display: flex;
        flex-direction : column;
        align-items: center;
        border: thin;
        border-style: solid;
        margin: 5px;
        border-radius: 5px 5px 5px 5px;
    }
    
    p.user{
        cursor: pointer;
        border: none;
        margin: 10px;
    }
    
    .user_cliente{
        display: flex;
        flex-direction : column;
        align-items: center;
        border: thin;
        border-style: solid;
        margin: 5px;
        border-radius: 5px 5px 5px 5px;
    }
    
    p.useropcoes{
        cursor: pointer;
        border: none;
        text-align: start;
        margin: 10px;
    }
    
    .useropcoes_cliente{
        display: flex;
        flex-direction: column;
        border: thin;
        border-top-style: solid;
        width: 240px;
    }
    
    .sair{
        display: flex;
        position: fixed;
        bottom: 150px;
        width: 240px;
        justify-content: center;
        cursor: pointer;
    }
    
    .conteudo_perfis{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 900px;
        height: 843px;
        padding-top: 20px;
    }
    
    .info_usercomum{
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 700px;
        border: thin;
        border-bottom-style: solid;
        height: 50px;
    }
}




