h1{
	text-align: center;
}

.quadro_cadastroservico{
	display: flex;
	flex-direction: column;
	grid-gap: 20px;
}

.quadro_servico{
	display: flex;
}

.quadro_uploadimg{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 250px;
}
