.quadro_cadastroservico{
	display: grid;
    align-self: center;
    justify-content: center;
    margin: auto;
	grid-column-start: 2;
	grid-column-end: 4;
    grid-row-start: 1;
	grid-row-end: 4;
    width: 1000px;
}

.quadro_servico{
	display: flex;
	width: 800px;
	
}

.quadro_servico_direita{
	display: flex;
	flex-direction: column;
	margin: 20px;
}

label, input, img{
	margin: 20px;
}

.quadro_servico_esquerda{
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.quadro_uploadimg{
	display: flex;
	flex-direction: column;
	align-items: center;
}
