.slider{
	display: flex;
	justify-content: center;
}

.quadro_maispedidos{
	display: flex;
	justify-content: space-evenly;
}

.maispedidos{
	display: flex;
	margin: auto;
	align-content: space-between;
}
