.quadro_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    padding-top: 30px;
}

input{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: thin;
    border-style: solid;
    text-align: center;
}

.fechar{
    display: flex;
    position: absolute;
    justify-content: flex-end;
    width: 480px;
    margin: 5px;
    font-size: larger;
    cursor: pointer;
}

.entrar{
    display: flex;
}

button.entrar{
    height: 40px;
    width: 410px;
    border: none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color:blueviolet;
    color: white;
}

button.entrar:hover{
    background-color: #babaca;
    color: black;
}

.esqueceu_senha{
    display: flex;
    justify-content: flex-end;
    width: 420px;
    padding: auto;
    margin-bottom: 20px;
}

input.lembrarme{
    width: auto;
    height: auto;
    margin: auto;
}

.cadastrese{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #babaca;
    border-radius: 0px 0px 10px 10px;
}