.quadro_orcamento{
	display: flex;
	flex-direction: column;
	width: 1000px;
	align-items: center;
	font-size: larger;
}

.nomeservico_orcamento{
	font-size: xx-large;
	text-align: center;
	width: auto;
	margin: 50px;
}

.info_orcamento{
	display: flex;
	justify-content: space-evenly;
	width: 1000px;
}

.mensagem{
	display: flex;
	flex-direction: column;
	display: flex;
	height: 40px;
	font-size: large;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	margin: 100px;
	width: 800px;
}

.botoes_orcamento{
	display: flex;
    justify-content: center;
    align-items: center;
	justify-content: space-around;
    height: 100px;
	width: 1000px;
    background-color: var(--header);
    border-radius: 0px 0px 10px 10px;
}
