.anuncie_aqui{
	display: grid;
	margin-top: 50px;
	justify-self: center;
	justify-items: center;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-end: 3;
}

.quadro_servicoaleatorio{
	display: grid;
	display: flex;
	justify-self: center;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}

.servico_aleatorio{
	display: flex;
	margin-top: 100px;
	margin: 30px;
	padding: 50px;
	background-color: white;
	border: thin;
	border-style: solid;
	border-color: #babaca;
	border-radius: 50px;
}


ul.informacoes{
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin: auto;
}

p.informacoes{
	display: flex;
	margin: auto;
}

li.informacoes{
	display: flex;
	margin: 5px;
}

li.informacoes_desc{
	display: flex;
	margin: auto;
	height: 80px;
}

.botao_orcamento{
	display: flex;
	margin: auto;
	width: 200px;
	height: 30px;
	align-items: center;
	justify-content: center;
}



