.meu_perfil{
    display: flex;
    width: 1300px;
    height: 843px;
}

.perfis{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 810px;
    padding-top: 20px;
    border: thin;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

.user{
    display: flex;
    flex-direction : column;
    align-items: center;
    border: thin;
    border-style: solid;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
}

p.user{
    cursor: pointer;
    border: none;
    margin: 10px;
}

.useropcoes_comum{
    display: none;
    flex-direction: column;
    border: thin;
    border-top-style: solid;
    width: 290px;
}

.useropcoes_cliente{
    display: none;
    flex-direction: column;
    border: thin;
    border-top-style: solid;
    width: 290px;
}

.useropcoes_empresa{
    display: none;
    flex-direction: column;
    border: thin;
    border-top-style: solid;
    width: 290px;
}

p.useropcoes{
    cursor: pointer;
    border: none;
    text-align: start;
    margin: 10px;
}

.sair{
    display: flex;
    position: fixed;
    bottom: 150px;
    width: 290px;
    justify-content: center;
    cursor: pointer;
}

.conteudo_perfis{
    display: flex;
    width: 1000px;
    height: 843px;
    padding-top: 20px;
}


.usercomum_conteudo{
    display: none;
    flex-direction: column;
    width: 980px;
}

.info_usercomum{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 980px;
}

.trocar_senha{
    display: none;
    flex-direction: column;
    text-align: center;
    width: 500px;
    margin: auto;
    height: 600px;
}


.usercliente_conteudo{
    display: none;
    flex-direction: column;
    width: 980px;
}

.userempresa_cliente{
    display: none;
    flex-direction: column;
    width: 980px;
}





