.quadro_servicoscad{
	display: grid;
	display: flex;
	flex-direction: column;
	align-self: center;
    justify-content: center;
    margin: auto;
	grid-column-start: 2;
	grid-column-end: 4;
    grid-row-start: 1;
	grid-row-end: 4;
    width: 1000px;
}

.campos{
    display: flex;
    justify-content: space-between;
	text-align: center;
}

p, button{
	width: 150px;
}

.quadro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servico{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.servico, .custo, .prazo, .editar, .deletar{
	width: 150px;
}