body{
	background-color: #fffafa;
	margin: auto;
	font-size: large;
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.quadro_cima{
	display: flex;
	margin: auto;
	height: 30px;
	background-color: #babaca;
}

/*BARRA DE PESQUISA*/

.quadro_pesquisa{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: yellow;
}

ul.produtos{
	display: flex;
}

li.produtos{
	display: flex;
	margin: 2px;
}

button.produtos{
	width: 150px;
	height: 25px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: thin;
	border-style: solid;
	border-color: #babaca;
}

button.produtos:hover{
	background-color: white;
}

.pesquisar{
	display: flex;
	height: 30px;
	width: 1000px;
	text-align: center;
	border-radius: 10px;
	border: thin;
	border-style: solid;
	border-color: #babaca;
}

ul.servicos_usuarios{
	display: flex;
	align-items: center;
}

li.servicos_usuarios{
	display: flex;
	height: 30px;
	width: 100px;
	align-items: center;
	justify-content: center;
	background-color: #babaca;
}

/*CONTEUDO PRINCIPAL*/

main{
	display: grid;
	margin: auto;
	justify-content: space-around;
}

.prop_esquerda{
	display: grid;
	justify-self: center;
	margin-top: 100px;
    grid-column-start: 1;
    grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 4;
}

.prop_direita{
	display: grid;
	justify-self: center;
	margin-top: 100px;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 4;
}

/*RODAPE*/

.rodape{
	display: flex;
	margin: auto;
	height: 40px;
	background-color: #babaca;
}

p.rodape{
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
}

