.meu_perfil{
    display: flex;
    width: 1300px;
    height: 843px;
}

.perfis{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 810px;
    padding-top: 20px;
    border: thin;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

.user{
    display: flex;
    flex-direction : column;
    align-items: center;
    border: thin;
    border-style: solid;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
}

p.user{
    cursor: pointer;
    border: none;
    margin: 10px;
}

.user_cliente{
    display: flex;
    flex-direction : column;
    align-items: center;
    border: thin;
    border-style: solid;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
}

.user_empresa{
    display: none;
    flex-direction : column;
    align-items: center;
    border: thin;
    border-style: solid;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
}

p.useropcoes{
    cursor: pointer;
    border: none;
    text-align: start;
    margin: 10px;
}

.useropcoes_cliente{
    display: flex;
    flex-direction: column;
    border: thin;
    border-top-style: solid;
    width: 290px;
}

.useropcoes_empresa{
    display: none;
    flex-direction: column;
    border: thin;
    border-top-style: solid;
    width: 290px;
}

.sair{
    display: flex;
    position: fixed;
    bottom: 150px;
    width: 290px;
    justify-content: center;
    cursor: pointer;
}

.conteudo_perfis{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 843px;
    padding-top: 20px;
}

.info_usercomum{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 900px;
    border: thin;
    border-bottom-style: solid;
    height: 50px;
}

/*trocar senha*/

.trocar_senha{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 30px;
    width: 900px;
    height: 250px;
}

.inserir_senha{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 700px;    
}

input{
    display: flex;
    border-radius: 10px;
    height: 25px;
    width: 250px;
    text-align: center;
}

/*conteudo do perfil cliente*/

.usercliente_conteudo{
    display: none;
    flex-direction: column;
    width: 900px;
}

.os_cliente{
    display: none;
    flex-direction: column;
    align-items: center;
}

p.vermais{
    cursor: pointer;
    border: none;
    margin: 20px;
    height: 40px;
    width: 900px;
    text-align: center;
    border: thin;
    border-bottom-style: solid;
}

.quadros{
    display: flex;
    flex-direction: column;
    width: 450px;
}

.quadros_oscliente{
    display: flex;
    width: 900px;
    margin-top: 20px;
}

.orcamentos_cliente{
    display: none;
    flex-direction: column;
    align-items: center;
}

.quadro_orcamentoscliente{
    display: flex;
    width: 900px;
    margin-top: 20px;
}

.contato_cliente{
    display: none;
    justify-content: space-between;
    width: 900px;
}

.endereco{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 250px;
    
}

.telefone{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 250px;
}

/*conteudo do perfil empresa*/

.userempresa_conteudo{
    display: none;
    flex-direction: column;
    width: 900px;
}

.criar_empresa{
    display: none;
    flex-direction: column;
    width: 900px;
}

.info_empresa{
    width: 900px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: thin;
    border-bottom-style: solid;
}

.cad_servico{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.quadro_cadservico{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    height: 400px;
    width: 900px;
    margin-top: 20px;
}

.servicos_cads{
    display: none;
    flex-direction: column;
    align-items: center;
}

.quadro_servicoscads{
    display: flex;
    width: 900px;
    margin-top: 20px;
}

.titulo_os{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 900px;
}

.os_empresa{
    display: none;
    flex-direction: column;
    align-items: center;
}

.quadros_osempresa{
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-top: 20px;
}

.orcamentos_empresa{
    display: none;
    flex-direction: column;
    align-items: center;
}

.os_aberto{
    display: flex;
    width: 900px;
    height: 100px;
}

.os_fechado{
    display: flex;
    width: 900px;
    height: 100px;
}

.quadro_orcamentosempresa{
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-top: 20px;
}

.orc_aberto{
    display: flex;
    width: 900px;
    height: 100px;
}

.orc_fechado{
    display: flex;
    width: 900px;
    height: 100px;
}

.titulo_orc{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 900px;
}

.historico_clientes{
    display: none;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

button.historico_clientes{
    display: flex;
    width: 350px;
}

p.historico_clientes{
    display: flex;
    margin: 20px;
    border: none;
    width: 900px;
}

.contato_empresa{
    display: none;
    justify-content: space-between;
    width: 900px;
}

/*modal alterar endereco e telefone*/

.quadro_telefone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
    margin-top: 50px;
}

.quadro_endereco{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1000px;
    height: 300px;
    margin-top: 50px;
}

.alterar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--header);
    border-radius: 0px 0px 10px 10px;
}




