.quadro_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    padding-top: 30px;
}

input.emailsenha{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    margin:10px;
    border: thin;
    border-style: solid;
    text-align: center;
}

.fechar{
    display: flex;
    position: absolute;
    justify-content: flex-end;
    font-size: xx-large;
    cursor: pointer;
    color: purple;
}

.voltar{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    font-size: larger;
    margin: 10px;
    cursor: pointer;
    color: purple;
}

.entrar{
    display: flex;
    height: 40px;
    width: 410px;
    align-items: center;
    justify-content: center;
}

.esqueceu_senha{
    display: flex;
    justify-content: flex-end;
    width: 410px;
}

.enviar_email{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--header);
    border-radius: 0px 0px 10px 10px;
}

button.esqueceu_senha{
    border: none;
    background-color: unset;
}

.cadastrese{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--header);
    border-radius: 0px 0px 10px 10px;
}

.quadro_senha{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content:center;
    align-items: center;
}

p.descricao_senha{
    text-align: justify;
}